<h1>New Article</h1>

<form method="post" action="/articles">

  <label for="title"> Title</label>
  <input id="title" type="text"  name="article[title]">
  <label for="content"> Content</label>
  <input id="content" type="text" name="article[content]">
  <input type="submit">

</form>
