<h1>New.erb</h1>

<form method="POST" action="/articles">
  <p>Article Title: <input id="title" type="text" name="article[title]"></p>
  <p>Content: <input id="content" type="text" name="article[content]"></p>
  <input type="submit">
</form>
