<h1> Create a new article </h1>

<form method="POST" action="/articles">
    <input id="title" type="text" name="title">
    <input id="content" type="text" name="content">
    <input id="submit" type="submit">
</form>