<h1>Create an Article</h1>

<form action="/articles" method="POST">
<label for="">
    Article Name:
</label> 
<input type="text" name="title"><br>
<label for="">
    Content:
</label>
<input type="text" name="content"><br>
<input type="submit" value="Submit">


</form>